*{
	margin: 0;
	padding: 0;


}

#banner
{
	  background: url("background.jpg");
	background-size:cover;
	background-position:center;
	height: 100vh;
	
}
section
{
	position: relative;
	width:100%;
	height:100vh;
	
}
section .wave
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100px;
	background:url(wave.png);
	background-size: 1000px 100px;
}
section .wave.wave1
{
	animation: animate 30s linear infinite;
	z-index:1000;
	opacity:1;
	animation-delay:0s;
	bottom:0;
}
section .wave.wave2
{
	animation: animate2 5s linear infinite;
	z-index:999;
	opacity:0.5;
	animation-delay:-5s;
	bottom:10px;
}
section .wave.wave3
{
	animation: animate 15s linear infinite;
	z-index:998;
	opacity:0.2;
	animation-delay:-2s;
	bottom:15px;
}
section .wave.wave4
{
	animation: animate2 15s linear infinite;
	z-index:997;
	opacity:0.7;
	animation-delay:-5s;
	bottom:20px;
}

.bubbles img
{
	width: 50px;
	animation: bubble 7s linear infinite;
	z-index:900;
}
.bubbles
{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-around;
	position:absolute;
	bottom:0;
}


@keyframes animate
{
	0%
	{
		background-position-x:0;
	}
	100%
	{
		background-position-x:1000px;
	}
}
@keyframes animate2
{
	0%
	{
		background-position-x:0;
	}
	100%
	{
		background-position-x:-1000px;
	}
}
@keyframes bubble
{
	0%{
		transform: translateY(0);
		opacity:0;
	}
	50%{

		opacity:1;
	}
	70%{

		opacity:1;
	}
	100%{
		transform: translateY(-90vh);
		opacity:0;
	}
}

.bubbles img:nth-child(1)
{
	animation-delay:2s;
	width:25px;
}
.bubbles img:nth-child(2)
{
	animation-delay:1s;
}
.bubbles img:nth-child(3)
{
	animation-delay:3s;
	width:25px;
}
.bubbles img:nth-child(4)
{
	animation-delay:4.5s;
	width:20px;
}
.bubbles img:nth-child(5)
{
	animation-delay:3s;
}
.bubbles img:nth-child(6)
{
	animation-delay:6s;
	width:23px;
}
.bubbles img:nth-child(7)
{
	animation-delay:7s;
	width:30px;
}
.logo
{	
	width:140px;
	position: absolute;
	top:4%;
	left:10%;
	
} 


@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #232334;
  

  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  


  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
font-family: 'Monoton', cursive;
font-size: 10.5vmin;




}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #a8cbff;
}
.animated-title > div.text-bottom {
font-family: 'Bubblegum Sans', cursive;
font-size: 13vmin;
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 1.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

#sideNav
{
	width:250px;
	height: 100vh;
	position:fixed;
	right:-250px;
	top:0;
	background: #232334;
	z-index: 2;
	transition: 0.75s;
}
nav ul li
{
	list-style: none;
	margin: 50px 20px;
}
nav ul li a
{
	text-decoration:none;
	color:#fff;
}

#menuBtn
{
	width:50px;
	height:50px;
	background: #232334;
	text-align:center;
	position:fixed;
	right:30px;
	top:20px;
	border-radius:6px;
	z-index: 3;
	cursor:pointer;
} 
#menuBtn img
{
	width:20px;
	margin-top:15px;
}


#feature
{
	width:100%;
	padding:30px 0;
}
.title-text
{
	text-align:center;
	padding-bottom:70px;
}
.title-text p
{
	margin:auto;
	font-size:20px;
	color:#151B54;
	font-weight:bold;

	
}
.title-text h1
{
	font-size:50px;
	color:#151B54;
}
.feature-box
{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	text-align:center;
	
}
.features
{
	flex-basis:50%;
}
.features-img
{
	flex-basis:50%;
	margin:auto;
}
.features-img img
{
	width: 70%;
	border-radius:40px;
} 

.features-desc
{
	display:flex;
	align-items:center;
	margin-bottom:40px;
}
.feature-icon
{
	width: 50px;
	height:50px;
	font-size: 50px;
	line-height: 40px;
	border-radius:8px;
	
	border: 30px solid white;
}
.feature-text h1
{
	padding 0 20px;
	text-align: initial;
	font-family: 'Patrick Hand SC', cursive;
	font-size:40px;
}


#service
{
	width:100%;
	padding:30px 0;
	background:#efefef;

}
.products
{
	width:80%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin:auto;
}
.single-product
{
	flex-basis:0%;
	text-align:center;
	border-radius:7px;
	margin-bottom:10px;
	color:#fff;
	position:relative;
}
.single-product img
{
	width:300px;
	height:250px;
	border-radius:7px;
	z-index:-1;
}
.overlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	border-radius:7px;
	cursor:pointer;
	background:linear-gradient(rgba(0,0,0,0.5),#009688);
	opacity:0;
	transition:1s;
	
}	
.single-product:hover .overlay
{
	opacity:1;
}
.product-description
{
	width:80%;
	position:absolute;
	bottom:0;
	left:50%;
	opacity:0;
	transform:translateX(-50%);
	transition:1s;
}

.single-product:hover .product-description
{
	bottom:40%;
	opacity:1;
}

